{% load static %}
<link rel="stylesheet" href="{% static 'todoapp/style.css' %}">
<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn">+</button>
    </form>
    {% if task_list %}
    <h2>Tâches</h2>
        <div class="tasks">
            {% for task in task_list %}
                {% if not task.completed %}
                    <div class="task">
                        <span>{{ task.title }}</span>
                        <a href="{% url 'complete' task.id %}" class="btn">Compléter</a>
                        <a href="{% url 'remove' task.id %}" class="btn right-border">Supprimer</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h3>Complétées</h3>
        <div class="tasks">
            {% for task in task_list %}
                {% if task.completed %}
                    <div class="task completed">
                        <span>{{ task.title }}</span>
                        <a href="{% url 'complete' task.id %}" class="btn">Décompléter</a>
                        <a href="{% url 'remove' task.id %}" class="btn right-border">Supprimer</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>Aucune tâche ! Rien à faire.</p>
    {% endif %}
</div>